*.db
*.bak
_old
rice-box.go
.idea/
/filebrowser
/filebrowser.exe
/dist
.venv

.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
bin/
build/

# Vue distributable files
/frontend/dist/*
!/frontend/dist/.gitkeep

default.nix
Dockerfile.dev

.env
*.json
client_ext.cnf
client.csr
client.key
client.pem
rootCA.key
rootCA.pem
rootCA.srl

notes.md