
services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .  # Build from current root directory
      dockerfile: Dockerfile.backend
    container_name: go_backend
    ports:
      - "8000:8000"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      AWS_REGION: ${AWS_REGION}
      S3_BUCKET: ${S3_BUCKET}
      AWS_OIDC_AUDIENCE: ${AWS_OIDC_AUDIENCE}
      AWS_ROLE_ARN: ${AWS_ROLE_ARN}
      PORT: ${PORT}
      LOCATION: ${LOCATION}
      FRONTEND_URL: ${FRONTEND_URL}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_REDIRECT_URL: ${GOOGLE_REDIRECT_URL}
      GOOGLE_APPLICATION_CREDENTIALS: /app/sa.json # for local
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped
    # For development with hot-reload (optional)
    volumes:
      - ./gcp-service-account.json:/app/sa.json # for local
      # - ./:/app  # Mount entire root for development
      - /app/tmp  # Exclude temp folder if using air for hot-reload

  frontend:
    build:
      context: ./web  # Build from frontend folder
      dockerfile: Dockerfile
    container_name: react_frontend
    ports:
      - "5173:5173"
      # - "80:80"
      # - "443:443"  # For HTTPS
    environment:
      VITE_API_URL: http://localhost:8000/api
      # For production build, use:
      # - VITE_API_URL=http://your-domain.com
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped
    volumes:
      - ./web:/app  # Mount frontend code for hot-reload
      - /app/node_modules
      # - ./ssl:/etc/nginx/ssl  # Mount SSL certificates
      # - ./nginx.conf:/etc/nginx/conf.d/default.conf
    stdin_open: true
    tty: true
  
  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge