@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden; /* Prevent body scrolling */
}